@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
  /*  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  /*font-family: 'Urbanist', sans-serif !important;*/
  font-family: 'Rubik', sans-serif !important;
  font-size: 14px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  background: #efefef;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

/* Basic StaffLayout Styles */
.leftPanel {
  float: left;
  width: 12%;
  height: 100%;
}
.rightPanel {
  float: left;
  width: 88%;
  height: 100%;
  overflow-y: auto;
}
.rightPanelBody {
  padding:30px;
}

/* Custom components */
.myCard {
  border-radius: 7px;
  background: #fff;
  width:100%;
  overflow: hidden;
  /*padding:10px;*/
  border-width: 0;
  -webkit-box-shadow: 0px 0px 22px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 22px -20px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 22px -20px rgba(0,0,0,0.75);
}
.myTable {
  width:100%;
  border-radius: 7px;
}
.myTable thead {
  background: #d9d9d9;
}
.myTable th, td {
  padding: 10px;
  font-weight: 400;
}
.myTable tr {
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}
.myTable tr:hover {
  background: #efefef;
}
.myBtn {
  border-radius: 7px;
  border: none;
  padding: 7px 15px;
  color: #fff;
  background: #3f0945;
}
.pageHeader {

}
.pageHeaderTitle {

}
.pageHeaderControls {
  display: flex;
  flex-direction: row-reverse;
}


/* paddings */
.p0 {
  padding: 0!important;
}
.p15  {
  padding: 15px;
}
.p20  {
  padding: 20px;
}
.p25  {
  padding: 25px;
}

/* headings */
.my_h1 {
  font-size: 30px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 15px;
  line-height: 1.3;
}
.my_h2 {
  width: 100%;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
}
.my_h3 {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* react strap overrides */
.badge {
  font-size: 13px !important;
  font-weight: 500 !important;
  padding: 5px 10px !important;
}
.row {
  margin-bottom: 20px;
}
textarea {
  border: 1px solid #e5e5e5 !important;
  border-radius: 7px !important;
}
